/* Main Container Styling */
main {
  width: 100%; /* Full width by default */
  max-width: 1600px; /* Maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 24px; /* Default padding around the container */
  overflow-y: visible;
  overflow-x: clip;
}

/* Section Styling */
section[id] {
  position: relative;
  display: flex;
}

section > h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display";
  border-bottom: 2px solid var(--bg-line, #fdc435);
  border-width: 70%;
  color: var(--text-primary, #0c0d0e);
  /* margin: 0; */
}

section[id="home"] {
  flex-direction: row-reverse;
  justify-content: space-between;
}

section[id="projects"] {
  font-family: "Playfair Display";
  font-size: 44px;
  font-weight: 700;
  gap: 64px;
  margin: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section[id="about"] {
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  align-items: center;
}

/* Profile Picture Styling */
.profile-picture {
  position: absolute;
  width: 600px;
  height: 600px;
  background-size: cover;
  object-fit: cover;
  position: relative;
  z-index: 3;
  /* Uncomment the following line if you want to use a background image */
}

.mobile-only {
  display: none;
}

.profile-image-bg {
  fill: var(--brand-yellow, #fdc435);
}
/* Profile Mask Styling */
.profile-mask {
  position: absolute;
  top: -120px;
  right: -130px;
  z-index: 1;
  width: 700px;
  height: 600px;
  clip-path: polygon(
    0% 0%,/* Top-left corner */ 
    100% 0%,/* Top-right corner */ 
    100% 100%,/* Bottom-right corner */ 
    0% 100% /* Bottom-left corner */
  );
}

.profile-mask > svg {
  position: absolute;
  /* fill: var(--brand-yellow, #fdc435); */
  /* fill: url('../assets/propic1.png') */
}
/* MyDetails Styling */
.intro {
  display: flex;
  flex: 1;
  max-width: 486px;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
}

.Designer {
  color: var(--brand-yellow, #fdc435);
  text-transform: uppercase;
  font: 700 20px Nunito, sans-serif;
}

.content {
  display: flex;
  margin-top: 12px;
  width: 100%;
  flex-direction: column;
  /* color: var(--font-high-emphasis, #25282b); */
  justify-content: start;
}

.title {
  width: 100%;
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: var(--text-primary, #0c0d0e);
}

.second-title {
  font-size: 40px;
}

.subHeadline {
  width: 100%;
  margin-top: 32px;
  color: var(--text-secondary, #828282);
  font: 400 24px/36px Nunito;
}

.second-subHeadline {
  font-size: 18px;
  line-height: 28px;
}

.buttons {
  align-self: start;
  display: flex;
  margin-top: 32px;
  align-items: start;
  gap: 12px;
  justify-content: start;
}

.button {
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 18px;
  font-family: "roboto";
  font-weight: 600;
  cursor: pointer;
}

.buttonPrimary {
  background: var(--brand-yellow, #fdc435);
  text-decoration: none;
  color: #000;
  border: none;
}

.buttonSecondary {
  border: 2px solid var(--bg-line, #25282b);
}

.about-figure {
  overflow: hidden;
  flex: 1;
  background-color: var(--brand-yellow, #fdc435);
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.about-figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* footer styles */
.footer-container {
  padding: 32px;
  top: 1000px;
  width: 100%;
}

.footer-wave {
  width: 100%;
}

.footerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  align-items: start;
  gap: 24px;
  justify-content: start;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 48px;
}
.copyRight {
  color: var(--font-medium-emphasis, #828282);
  margin-top: 32px;
  font: 400 16px Nunito, sans-serif;
}

/* Responsive behavior for larger screens (e.g., tablets, desktops) */
@media screen and (min-width: 768px) {
  main {
    padding: 48px; /* Increase padding on larger screens */
  }

  .profile-picture {
    right: -50px;
    width: 400px; /* Set width for larger screens */
    height: 400px; /* Set height for larger screens */
  }

  .profile-mask {
    right: -100px;
    top: -160px;
}
}

/* Responsive behavior for extra large screens */
@media screen and (min-width: 1200px) {
  main {
    padding: 64px; /* Further increase padding on extra large screens */
  }

  .profile-picture {
    right: -65px;
    width: 600px;
    height: 600px;
  }

  .profile-mask {
    width: 700px;
    height: 750px;
  }
  .title {
    font-size: 64px;
  }
  .second-title {
    font-size: 40px;
  }
}

/* Responsive behavior for smaller screens */
@media screen and (max-width: 767px) {
  main {
    padding: 16px; /* Reduce padding on small screens */
  }

  section[id="home"] {
    flex-direction: column;
    gap: 32px;
    height: inherit;
    align-items: center;
  }

  .profile-picture {
    width: 300px;
    height: 300px;
  }

  .profile-mask {
    display: none;
  }

  section[id="projects"] {
    margin: 32px 0;
    gap: 32px;
  }
  .mobile-only {
    display: block;
  }

  .Designer {
    max-width: 100%;
  }

  .content {
    max-width: 100%;
  }

  .title {
    max-width: 100%;
    font-size: 40px;
    line-height: 53px;
  }

  .subHeadline {
    max-width: 100%;
    margin-top: 10px;
    font: 14px/20px Nunito;
  }

  .buttons {
    white-space: initial;
  }

  .buttonPrimary {
    white-space: initial;
    padding: 5px 20px;
  }

  .buttonSecondary {
    white-space: initial;
    padding: 5px 20px;
  }
  .home-picture-container > * {
    display: none;
  }
  .about-figure {
    width: 300px;
    height: 300px;
  }
  section[id="about"] {
    flex-direction: column;
    gap: 32px;
  }
  
}
