:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-primary: rgb(0, 0, 19);
  --text-secondary: rgb(172, 172, 172);
  --background-color-main: #f5f5f5;
  --background-color-secondary: #ffffff;
  --background-line: rgba(197 197 197 / 62%);
  --brand-color: #fdc435;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --blend-mode: darken;
}

.dark-mode {
  --text-primary: rgb(254, 254, 255);
  --text-secondary: rgba(215, 215, 215, 0.882);
  --background-color-main: #000000;
  --background-color-secondary: #111111;
  --background-line: rgba(0, 106, 220, 0.616);
  --brand-color: #005fa5;
  --box-shadow-color: rgba(0, 114, 184, 0.5);
  --blend-mode: lighten;
}

body {
  min-width: 320px;
  min-height: 100vh;
}


